@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

body {
  font-family: "Quicksand", Arial, sans-serif;
    color: white;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 0;
  text-align: center;
  
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

a{
 color:rgb(0, 0, 0);
 color: white;
}

a:hover{
    color: white;
}

#navcontainer ul
{
margin: 0;
padding:0;
list-style-type: none;
text-align: center;
margin-top: 10px;

}

#navcontainer ul li { 
display: inline;
padding: .2em 1em;
margin: 20;

}



.btn-primary{
  background:#3f83ff;
  border: 1px solid #ffffff;
  color: #ffffff;
}


.btn-primary:hover{
  background:#ffffff;
  color:#3f83ff;
  border: 1px solid #ffffff;
}

#fahrenheit-link{
  color:#ffffff;
  text-decoration: underline;
}

#github-link{
  color: rgb(106, 106, 106);
  text-decoration: underline;
}

small{
    color: rgb(106, 106, 106);
}



.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
  
 
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background:#3f83ff;
  
}

.overview {
  margin-bottom: 20px;

}


.weather-temperature{
  float:right;
}



.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  top:-20px;
}


.weather-temperature strong {
  color: white;
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -30px;
    color: white;
}

.weather-temperature .active {
  color: white;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
    color: white;
}

.weather-forecast {
  margin-top: 40px;
}

.weather-forecast h3 {
  color: white
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 10px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color:white
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}